In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [ ]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990288,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
990289,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
990290,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,1700 ALBION ST,NaN,34.0675,-118.2240
990291,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
990292,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [ ]:
print(df.head()) #Display the first few rows

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6
5  231808869  04/04/2023 12:00:00 AM  12/01/2020 12:00:00 AM      2300    18

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
3   Van Nuys          964         1     343
4  Hollywood          666         2     354
5  Southeast         1826         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont
5                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN
5    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277
5   9900    COMPTON                      AV          NaN  33.9467 -118.2463

[5 rows x 28 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990293 entries, 0 to 990292
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           990293 non-null  int64
 1   Date Rptd       990293 non-null  object
 2   DATE OCC        990293 non-null  object
 3   TIME OCC        990293 non-null  int64
 4   AREA            990293 non-null  int64
 5   AREA NAME       990293 non-null  object
 6   Rpt Dist No     990293 non-null  int64
 7   Part 1-2        990293 non-null  int64
 8   Crm Cd          990293 non-null  int64
 9   Crm Cd Desc     990293 non-null  object
 10  Mocodes         842641 non-null  object
 11  Vict Age        990293 non-null  int64
 12  Vict Sex        849515 non-null  object
 13  Vict Descent    849504 non-null  object
 14  Premis Cd       989970 non-null  float64
 15  Premis Desc     989399 non-null  object
 16  Weapon Used Cd  326547 non-null  float64
 17  Weapon Desc     326547 non-null  object
 18  Status          990292 non-null  object
 19  Status Desc     990293 non-null  object
 20  Crm Cd 1        990282 non-null  float64
 21  Crm Cd 2        68957 non-null   float64
 22  Crm Cd 3        2311 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        990293 non-null  object
 25  Cross Street    152641 non-null  object
 26  LAT             990293 non-null  float64
 27  LON             990293 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 211.5+ MB
None

In [ ]:
print("\nInitial Dataset Summary:")
print(df.describe())

Initial Dataset Summary:
              DR_NO       TIME OCC           AREA    Rpt Dist No  \
count  9.902930e+05  990293.000000  990293.000000  990293.000000
mean   2.199083e+08    1339.256672      10.697314    1116.172073
std    1.303375e+07     651.351436       6.108960     611.015402
min    8.170000e+02       1.000000       1.000000     101.000000
25%    2.106116e+08     900.000000       5.000000     587.000000
50%    2.209048e+08    1420.000000      11.000000    1141.000000
75%    2.310090e+08    1900.000000      16.000000    1617.000000
max    2.499289e+08    2359.000000      21.000000    2199.000000

            Part 1-2         Crm Cd       Vict Age      Premis Cd  \
count  990293.000000  990293.000000  990293.000000  989970.000000
mean        1.402950     500.675146      29.011584     305.964166
std         0.490491     205.914118      21.982132     219.200779
min         1.000000     110.000000      -4.000000     101.000000
25%         1.000000     331.000000       0.000000     101.000000
50%         1.000000     442.000000      30.000000     203.000000
75%         2.000000     626.000000      44.000000     501.000000
max         2.000000     956.000000     120.000000     976.000000

       Weapon Used Cd       Crm Cd 1      Crm Cd 2     Crm Cd 3   Crm Cd 4  \
count   326547.000000  990282.000000  68957.000000  2311.000000   64.00000
mean       363.873623     500.431720    958.159752   984.204673  991.21875
std        123.703129     205.713105    110.251655    51.485644   27.06985
min        101.000000     110.000000    210.000000   310.000000  821.00000
25%        311.000000     331.000000    998.000000   998.000000  998.00000
50%        400.000000     442.000000    998.000000   998.000000  998.00000
75%        400.000000     626.000000    998.000000   998.000000  998.00000
max        516.000000     956.000000    999.000000   999.000000  999.00000

                 LAT            LON
count  990293.000000  990293.000000
mean       33.986463    -118.050015
std         1.730076       5.997837
min         0.000000    -118.667600
25%        34.014600    -118.430400
50%        34.058900    -118.322500
75%        34.164900    -118.273900
max        34.334300       0.000000

In [ ]:
print("\nMissing Values Count:")
print(df.isnull().sum())

Missing Values Count:
DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           145480
Vict Age               0
Vict Sex          138771
Vict Descent      138781
Premis Cd            293
Premis Desc          858
Weapon Used Cd    564474
Weapon Desc       564474
Status                 1
Status Desc            0
Crm Cd 1               9
Crm Cd 2          818266
Crm Cd 3          879395
Crm Cd 4          881605
LOCATION               0
Cross Street      743598
LAT                    0
LON                    0
dtype: int64

In [ ]:
df.drop_duplicates()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
5,231808869,04/04/2023 12:00:00 AM,12/01/2020 12:00:00 AM,2300,18,Southeast,1826,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,9900 COMPTON AV,NaN,33.9467,-118.2463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990287,241414280,10/16/2024 12:00:00 AM,10/16/2024 12:00:00 AM,1546,14,Pacific,1489,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,5200 W 98TH ST,NaN,33.9469,-118.3703
990288,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
990290,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,1700 ALBION ST,NaN,34.0675,-118.2240
990291,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
990292,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [ ]:
item_counts = df['Crm Cd Desc'].value_counts()

# Display the counts
print(item_counts)

Crm Cd Desc
VEHICLE - STOLEN                                      112502
BATTERY - SIMPLE ASSAULT                               74747
BURGLARY FROM VEHICLE                                  61944
THEFT OF IDENTITY                                      61413
BURGLARY                                               57794
                                                       ...
BLOCKING DOOR INDUCTION CENTER                             6
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)         5
DISHONEST EMPLOYEE ATTEMPTED THEFT                         4
TRAIN WRECKING                                             1
DRUNK ROLL - ATTEMPT                                       1
Name: count, Length: 132, dtype: int64

In [ ]:
# Drop rows where the description column contains vandalism,bikes stolen, profanity and harassment
df = df[~df['Crm Cd Desc'].str.contains("vandalism", case=False, na=False)]
df = df[~df['Crm Cd Desc'].str.contains("BIKE", case=False, na=False)]
df = df[~df['Crm Cd Desc'].str.contains("RESTRAINING ORDER", case=False, na=False)]
df = df[~df['Crm Cd Desc'].str.contains("LETTERS,LEWD - TELEPHONE CALLS, LEWD", case=False, na=False)]


# Verify if rows removed
print(df['Crm Cd Desc'].value_counts())


#focus on crimes such as homicide, battery, assault, motor vehicle theft, and burglary, which are less likely to be optionally reported by residents

Crm Cd Desc
VEHICLE - STOLEN                                      112502
BATTERY - SIMPLE ASSAULT                               74747
BURGLARY FROM VEHICLE                                  61944
THEFT OF IDENTITY                                      61413
BURGLARY                                               57794
                                                       ...
BLOCKING DOOR INDUCTION CENTER                             6
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)         5
DISHONEST EMPLOYEE ATTEMPTED THEFT                         4
TRAIN WRECKING                                             1
DRUNK ROLL - ATTEMPT                                       1
Name: count, Length: 132, dtype: int64

In [ ]:
print(df.head()) #Display the first few rows

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM      1200     6
5  231808869  04/04/2023 12:00:00 AM  12/01/2020 12:00:00 AM      2300    18

   AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Wilshire          784         1     510
1    Central          182         1     330
3   Van Nuys          964         1     343
4  Hollywood          666         2     354
5  Southeast         1826         2     354

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                         THEFT OF IDENTITY  ...     IC   Invest Cont
5                         THEFT OF IDENTITY  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
3    343.0      NaN       NaN      NaN
4    354.0      NaN       NaN      NaN
5    354.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                         1900    TRANSIENT          NaN  34.0944 -118.3277
5   9900    COMPTON                      AV          NaN  33.9467 -118.2463

[5 rows x 28 columns]

In [ ]:
# Drop rows where 'AREA NAME' is missing  and if data reported is missing
df = df[df['AREA NAME'].notna() & (df['AREA NAME'] != '')]
df = df[df['Date Rptd'].notna() & (df['AREA NAME'] != '')]
df = df[df['LOCATION'].notna() & (df['AREA NAME'] != '')]

# Verify if the rows have been deleted
print(f"Rows remaining after dropping missing 'AREA NAME': {len(df)}")

Rows remaining after dropping missing 'AREA NAME': 881669

Linear Regression